{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest/globals": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:flowtype/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
      "jest",
      "flowtype",
    ],
    "rules": {
        "indent": [2, 2, {"SwitchCase": 1}],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "max-len": [2, 90, 4, {"ignoreUrls": true}],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "no-console": 0,
    },
    "settings": {
    }
}
